<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - merzigo.bms.tennis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/merzigo.bms.tennis.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">merzigo.bms.tennis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Events" asp-action="GetEvents">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Fixtures" asp-action="GetFixtures">Fixtures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="H2H" asp-action="GetH2H">H2H</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="LiveOdds" asp-action="GetLiveOdds">Live Odds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Livescore" asp-action="GetLivescore">Livescore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Odds" asp-action="GetOdds">Odds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Players" asp-action="GetPlayers">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Standings" asp-action="GetStandings">Standings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - merzigo.bms.tennis - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>